.calendar {
  width: 300px;
  border: 1px solid #000;
  padding: 10px;
  font-family: sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px 0;
}

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.dia-semana {
  color: #000;
}

.dias-mes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.dia {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
}

.dia.activo {
  background-color: #ccc;
}

.dia.seleccionado {
  background-color: #000;
  color: white;
}
